main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

select {
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  color: #80471c;
  font-size: 17px;
  background-color: #fff;
  outline: none;
}

img {
  display: block;
  margin: 25px auto;
}

p,
a {
  margin: 5px;
  text-align: center;
}

a {
  width: 150px;
  margin: 10px auto;
  padding: 5px 12px 3px;
  border-bottom: 2px solid #80471c;
  border-radius: 5px;
  color: #80471c;
  background-color: #fff;
  font-size: 19px;
  text-decoration: none;
  transition: 0.1s;
}

a:hover {
  opacity: 0.75;
}
